{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!--Header Section-->
    <header class="row">
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/undraw_Everyday_life_re_1lfb.png" alt="Hero Header Image">
        </div>

        <div class="col-12 col-md-6" id="header-text">
            <h1>This is supposed to be about cars, but my images will be all dog-related because why not? 🐶💖</h1>
            <div>
                <button class="btn btn-secondary">View Our Dogs</button>
                <button class="btn btn-secondary">Join Our Slack</button>
            </div>
        </div>
    </header>
    <!--End of Header Section-->

    <!--Start Middle Section-->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!--End of Middle Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_Passing_by_0un9.png" alt="Walking Dog" id="walking-image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_Appreciation_re_q28r.png" alt="Hearts" id="hearts-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_Good_doggy_re_eet7.png" alt="Good Dog" id="good-image">
            <h4>Backed By a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/undraw_Dog_re_7980.png" alt="Coding Drones Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <a href="#">Why Dogs?</a>
                <a href="#">The Dog Project</a>
                <a href="#">Donate</a>
                <a href="#">Spread the Word</a>
                <a href="#">Our Process</a>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <a href="#">Why Dogs?</a>
                <a href="#">The Dog Project</a>
                <a href="#">Donate</a>
                <a href="#">Spread the Word</a>
                <a href="#">Our Process</a>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <a href="#">Why Dogs?</a>
                <a href="#">The Dog Project</a>
                <a href="#">Donate</a>
                <a href="#">Spread the Word</a>
                <a href="#">Our Process</a>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <a href="#">Why Dogs?</a>
                <a href="#">The Dog Project</a>
                <a href="#">Donate</a>
                <a href="#">Spread the Word</a>
                <a href="#">Our Process</a>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <a href="#">Why Dogs?</a>
                <a href="#">The Dog Project</a>
                <a href="#">Donate</a>
                <a href="#">Spread the Word</a>
                <a href="#">Our Process</a>
            </div>
        </div>
    </footer>

</div>
{% endblock content %}